---
import PythonIcon from '@/icons/Python.astro';
import JavaScriptIcon from '@/icons/JavaScript.astro';
import LinkButton from '@/components/LinkButton.astro';
import GitHubIcon from '@/icons/GitHub.astro';
import Link from '@/icons/Link.astro';
const TAGS = {
    PYTHON: {
        title: 'Python',
        class: 'bg-[#21415c] text-white',
        icon: PythonIcon,
    },
    JS: {
        title: 'JavaScript',
        class: 'bg-black text-[#F7E025]',
        icon: JavaScriptIcon,
    },
};

const PROJECTS = [
    {
        title: 'Bechdel Project',
        description:
            'Este proyecto integra las competencias de los perfiles profesionales de analista de datos, científico de datos y ingeniero de datos. En este sentido, se incluyen actividades como la recopilación de datos, la limpieza de datos, los cálculos y el muestreo, así como la extracción de conclusiones. Si desea obtener más información, por favor, acceda al repositorio.',
        link: 'https://bechdel-project-ciroflorentin.streamlit.app/',
        github: 'https://github.com/CiroFlorentin/Bechdel_project',
        imgage: '/Bechdel.webp',
        tags: [TAGS.PYTHON],
    },
    {
        title: 'Portfolio de CiroFlorentin',
        description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
        link: '',
        github: '#',
        imgage: 'https://placehold.co/300x200',
        tags: [TAGS.PYTHON, TAGS.JS],
    },
];
---

<div class='flex flex-col gap-y-16'>
    {
        PROJECTS.map(({ title, description, link, github, imgage, tags }) => (
            <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 '>
                <div class=' w-full md:w-1/2'>
                    <div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
                        <img
                            class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
                            loading='lazy'
                            src={imgage}
                            alt={`Captura de pantalla del proyecto ${title}`}
                        />
                    </div>
                </div>

                <div class='flex flex-col  w-full md:w-1/2 md:max-w-lg'>
                    <h3 class='text-2xl font-bold text-green-950/90  dark:text-green-400/90 opacity-80 mb-2 '>
                        {title}
                    </h3>
                    <div class='flex flex-wrap mt-2'>
                        <ul class='flex gap-x-2 flex-row mb-2'>
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex  items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                                    >
                                        <tag.icon class='size-4 rounded' />
                                        {tag.title}
                                    </span>
                                </li>
                            ))}
                        </ul>

                        <div class='mt-2 text-gray-700 dark:text-gray-400 text-pretty'>
                            {description}
                        </div>
                    </div>
                    <div class='flex items-end justify-start mt-4 gap-x-4'>
                        {github && (
                            <LinkButton href={github}>
                                <GitHubIcon class='size-4' />
                                Code
                            </LinkButton>
                        )}
                        {link && (
                            <LinkButton href={link}>
                                <Link class='size-4' />
                                Ver más
                            </LinkButton>
                        )}
                    </div>
                </div>
            </article>
        ))
    }
</div>
